body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffff;
  line-height: 40px;
  margin-top: -5px;
  margin-left: 12px;
  font-size: 54px;
}
h2 {
  color: #ffff;

  font-size: 18px;
  font-weight: 600;

  line-height: 22px;
  margin-bottom: 10px;
  margin-left: 15px;
}
p {
  font-size: 14px;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  color: #ffff;
}
.col-4 {
  padding: 0 20px 0 0;
}
.btn-primary {
  background-color: #ffff;
  border-color: #ced4da;
  color: #6c757d;
}
.btn-primary.w-100:hover {
  background-color: #2aa3e9;
  border: 1px solid #ffff;
}
.hole-app {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 40px 20px 5px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #2aa3e9;
}
.main {
  color: #ffff;
  margin-bottom: 20px;
}
.main strong {
  font-size: 56px;
  margin-left: 5px;
  padding-top: 8px;
}

.units {
  margin: 25px 0 0 5px;
}
.description {
  font-size: 24px;
  margin: 22px 0 0 20px;
}
.description::first-letter {
  text-transform: capitalize;
}

.options {
  font-weight: bold;
}
