body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  line-height: 40px;
  margin-top: -5px;
  margin-left: 12px;
  font-size: 54px;
  text-transform: capitalize;
}
h2 {
  font-size: 18px;
  font-weight: 600;

  line-height: 22px;

  margin-left: 15px;
}
p {
  font-size: 14px;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.units .active {
  cursor: default;
}
h1,
h2,
li,
.main,
.units .active:hover,
.units .active,
.forecast-temperature,
.forecast-day {
  color: #ffff;
}
.list-options {
  text-align: left;
  margin-top: 20px;
}
.options {
  font-weight: bold;
}
.options-value {
  font-weight: normal;
}

.btn-primary {
  background-color: #ffff;
  border-color: #ced4da;
  color: #6c757d;
}
.btn-primary.w-100:hover {
  background-color: #2aa3e9;
  border: 1px solid #ffff;
}
.hole-app {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 40px 20px 5px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #2aa3e9;
}

.main strong {
  font-size: 56px;

  padding-top: 8px;
}
.illustr {
  margin-left: -10px;
}
.units {
  margin: 22px 0 0 5px;
}
.description {
  font-size: 20px;
  margin: 19px 0 0 20px;
}
.description::first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  margin: 30px 0 15px 0;
  text-align: center;
}
.forecast-day {
  font-size: 20px;
  font-weight: bold;
}
.forecast-temperature-min {
  opacity: 0.6;
}
